﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-listcontrol sc-ItemHistory";

    rendering.Requires.Script("client", "ItemHistory.js");

    rendering.GetString("pagehistory", "pagehistory");
    var htmlAttributes = rendering.HtmlAttributes;

}

<style>
    .itemhistory.accordion h3 {
        font-family: Arial, sans-serif;
        font-size: 12px;
    }

    .sc-ItemHistory h4 {
        font-weight: bold;
    }

    .sc-ItemHistory ul {
        padding-left: 0px;
    }

        .sc-ItemHistory ul ul {
            padding-left: 40px;
        }

    .sc-ItemHistory li {
        list-style: none;
        padding: 20px;
        margin-bottom: 10px;
    }

        .sc-ItemHistory li.no-padding {
            padding: 0px;
        }

    .sc-ItemHistory ul {
        margin-bottom: 0px;
    }

    .sc-ItemHistory li.no-margin {
        margin-bottom: 0px;
    }

    .sc-ItemHistory li.controller {
        background-color: #ffffff;
    }

    .sc-ItemHistory .details {
        padding-left: 50px;
    }

    .sc-ItemHistory .header {
        padding-bottom: 5px;
    }

    .sc-ItemHistory .versionHistory {
        padding-top: 10px;
    }
</style>

<div @htmlAttributes>
    <div data-bind="template: { name: 'node-template', foreach: pagehistory }"></div>
</div>

<script type="text/html" id="node-template">
    <div>
        <h4>Item Summary:</h4>
        <b>Item: </b><span data-bind="text:ItemPath"></span><br />
        <b>Item ID: </b><span data-bind="text:ItemId"></span><br />
        <b>Item Version: </b><span data-bind="text:ItemVersion"></span><br />
        <b>Item Last Updated: </b><span data-bind="text:LastUpdated"></span>
        <span data-bind="if:ItemVersionHistory.length >0">
            <a data-bind="click: function() { $root.ToggleHistoryNode($element); }">[+ Show version history]</a>
        </span>
        <div data-bind="if:ItemVersionHistory.length >0" style="display:none">
            <div class="versionHistory">
                <table class=" sc-table sc-table-header table">
                    <thead>
                        <tr>
                            <th class="sc-table-head">Old State</th>
                            <th class="sc-table-head">New State</th>
                            <th class="sc-table-head">Comment</th>
                            <th class="sc-table-head">User</th>
                            <th class="sc-table-head">Date</th>
                        </tr>
                    </thead>
                </table>
                <div class="sc-listcontrol-body">
                    <table class="sc-table table">
                        <tbody data-bind="foreach: ItemVersionHistory">
                            <tr>
                                <td class="ventilate">
                                    <span data-bind="text:OldState"></span>
                                </td>
                                <td class="ventilate">
                                    <span data-bind="text:NewState"></span>
                                </td>
                                <td class="ventilate">
                                    <ul data-bind="foreach: Comments">
                                        <li class="no-padding">
                                            <b><span data-bind="text:Key"></span></b>: <span data-bind="text:Value"></span>
                                        </li>
                                    </ul>
                                </td>
                                <td class="ventilate">
                                    <span data-bind="text:UserName"></span>
                                </td>
                                <td class="ventilate">
                                    <span data-bind="text:ChangeDate"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr class="sc-separator data-sc-registered" />
    <div>
        <h4>Check components history:</h4>
        <div data-bind="foreach: $data.Components">
            <ul data-bind="if: Renderings.length > 0">
                <li class="controller">
                    <div>
                        <input type="button" value="+" data-bind="click: function() { $root.ToggleNode($element); }" />
                        <b><span>Device Details: </span></b>
                        <span data-bind="text: DeviceName"></span>
                    </div>
                </li>
                <li style="display:none;" class="no-margin">
                    <span data-bind="if: $data.Renderings">
                        <ol data-bind="template: { name: 'node-template-rendering', foreach: Renderings }"></ol>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</script>

<script type="text/html" id="node-template-rendering">
    <ul>
        <li data-bind="if: $data.ComponentItem.ItemPath.length >0" class="controller">
            <div class="header"><b>Rendering: </b><span data-bind="text:RenderingName"></span></div>
            <div class="details">
                <b>Datasource:</b>
                <a href="#" data-bind="click: $root.GotoDatasourceItem">
                    <span data-bind="text: ComponentItem.ItemPath"></span>
                </a>
                <br />
                <b>Item ID:</b> <span data-bind="text: ComponentItem.ItemId"></span><br />
                <b>Item Latest Version:</b> <span data-bind="text: ComponentItem.ItemVersion"></span>
                <span data-bind="if: $data.ComponentItem.PreviousVersions.length >0">
                    <a data-bind="click: function() { $root.ToggleVersionNode($element); }">[+ Show all versions details]</a>
                    <ol style="display:none" data-bind="template: { name: 'node-template-otherversions', foreach: $data.ComponentItem }"></ol>
                </span>
                <br />
                <b>Item Last Updated: </b><span data-bind="text: ComponentItem.LastUpdated"></span>
                <span data-bind="if:ComponentItem.ItemVersionHistory.length >0">
                    <a data-bind="click: function() { $root.ToggleHistoryNode($element); }">[+ Show version history]</a>
                </span>
                <div data-bind="if: ComponentItem.ItemVersionHistory.length >0" style="display:none">
                    <div class="versionHistory">
                        <table class=" sc-table sc-table-header table">
                            <thead>
                                <tr>
                                    <th class="sc-table-head">Old State</th>
                                    <th class="sc-table-head">New State</th>
                                    <th class="sc-table-head">Comment</th>
                                    <th class="sc-table-head">User</th>
                                    <th class="sc-table-head">Date</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="sc-listcontrol-body">
                            <table class="sc-table table">
                                <tbody data-bind="foreach: ComponentItem.ItemVersionHistory">
                                    <tr>
                                        <td class="ventilate">
                                            <span data-bind="text:OldState"></span>
                                        </td>
                                        <td class="ventilate">
                                            <span data-bind="text:NewState"></span>
                                        </td>
                                        <td class="ventilate">
                                            <ul data-bind="foreach: Comments" style="padding-left:0px">
                                                <li class="no-padding">
                                                    <b><span data-bind="text:Key"></span></b>: <span data-bind="text:Value"></span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="ventilate">
                                            <span data-bind="text:UserName"></span>
                                        </td>
                                        <td class="ventilate">
                                            <span data-bind="text:ChangeDate"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <b>Other Items Referring to the Datasource:</b>
                <span data-bind="if: $data.RelatedItems.length >0">
                    <a data-bind="click: function() { $root.ToggleReferrersNode($element); }">[+ Show all Referrer items]</a>
                    <ol style="display:none" data-bind="template: { name: 'node-template-referrers', foreach: $data }"></ol>
                </span>
            </div>
            <div data-bind="if: $data.ComponentItem.Children.length >0">
                <hr class="sc-separator data-sc-registered" />
                <input type="button" value="+" data-bind="click: function() { $root.ToggleNode($element); }" />
                <b>View Datasource Item Children</b>
            </div>
        </li>
        <li style="display:none;" class="no-margin">
            <span data-bind="if: $data.ComponentItem">
                <ol data-bind="template: { name: 'node-template-children', foreach: $data.ComponentItem }"></ol>
            </span>
        </li>
    </ul>
</script>

<script type="text/html" id="node-template-children">
    <ul data-bind="foreach: $data.Children">
        <li class="controller">
            <b>Item: </b>
            <a href="#" data-bind="click: $root.GotoChildItem">
                <span data-bind="text:ItemPath"></span>
            </a>
            <br />
            <b>Item ID: </b><span data-bind="text:ItemId"></span><br />
            <b>Item Latest Version: </b><span data-bind="text:ItemVersion"></span>
            <span data-bind="if: $data.PreviousVersions.length >0">
                <a data-bind="click: function() { $root.ToggleVersionNode($element); }">[+ Show all versions details]</a>
                <ol style="display:none" data-bind="template: { name: 'node-template-otherversions', foreach: $data }"></ol>
            </span>
            <br />
            <b>Item Last Updated: </b><span data-bind="text:LastUpdated"></span>
            <span data-bind="if:ItemVersionHistory.length >0">
                <a data-bind="click: function() { $root.ToggleHistoryNode($element); }">[+ Show version history]</a>
            </span>
            <div data-bind="if: ItemVersionHistory.length > 0" style="display:none">
                <div class="versionHistory">

                    <table class=" sc-table sc-table-header table">
                        <thead>
                            <tr>
                                <th class="sc-table-head">Old State</th>
                                <th class="sc-table-head">New State</th>
                                <th class="sc-table-head">Comment</th>
                                <th class="sc-table-head">User</th>
                                <th class="sc-table-head">Date</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="sc-listcontrol-body">
                        <table class="sc-table table">
                            <tbody data-bind="foreach: ItemVersionHistory">
                                <tr>
                                    <td class="ventilate">
                                        <span data-bind="text:OldState"></span>
                                    </td>
                                    <td class="ventilate">
                                        <span data-bind="text:NewState"></span>
                                    </td>
                                    <td class="ventilate">
                                        <ul data-bind="foreach: Comments">
                                            <li class="no-padding">
                                                <b><span data-bind="text:Key"></span></b>: <span data-bind="text:Value"></span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="ventilate">
                                        <span data-bind="text:UserName"></span>
                                    </td>
                                    <td class="ventilate">
                                        <span data-bind="text:ChangeDate"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</script>


<script type="text/html" id="node-template-otherversions">
    <ul data-bind="foreach: $data.PreviousVersions" style="border:dashed 1px #808080">
        <li class="controller no-padding">
            <b>Item Version: </b><span data-bind="text:ItemVersion"></span><br />
            <b>Item Last Updated: </b><span data-bind="text:LastUpdated"></span>
            <span data-bind="if:ItemVersionHistory.length >0">
                <a data-bind="click: function() { $root.ToggleHistoryNode($element); }">[+ Show version history]</a>
            </span>
            <div data-bind="if: ItemVersionHistory.length > 0" style="display:none">
                <div class="versionHistory">

                    <table class=" sc-table sc-table-header table">
                        <thead>
                            <tr>
                                <th class="sc-table-head">Old State</th>
                                <th class="sc-table-head">New State</th>
                                <th class="sc-table-head">Comment</th>
                                <th class="sc-table-head">User</th>
                                <th class="sc-table-head">Date</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="sc-listcontrol-body">
                        <table class="sc-table table">
                            <tbody data-bind="foreach: ItemVersionHistory">
                                <tr>
                                    <td class="ventilate">
                                        <span data-bind="text:OldState"></span>
                                    </td>
                                    <td class="ventilate">
                                        <span data-bind="text:NewState"></span>
                                    </td>
                                    <td class="ventilate">
                                        <ul data-bind="foreach: Comments">
                                            <li class="no-padding">
                                                <b><span data-bind="text:Key"></span></b>: <span data-bind="text:Value"></span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="ventilate">
                                        <span data-bind="text:UserName"></span>
                                    </td>
                                    <td class="ventilate">
                                        <span data-bind="text:ChangeDate"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</script>

<script type="text/html" id="node-template-referrers">
    <ul data-bind="foreach: $data.RelatedItems" style="border:dashed 1px #808080">
        <li class="controller no-padding">
            <b>Item: </b>
            <a href="#" data-bind="click: $root.GotoChildItem">
                <span data-bind="text:ItemPath"></span>
            </a>
            <br />
            <b>Item ID: </b><span data-bind="text:ItemId"></span><br />
            <b>Item Latest Version: </b><span data-bind="text:ItemVersion"></span>
            <br />
            <b>Item Last Updated: </b><span data-bind="text:LastUpdated"></span>
        </li>
    </ul>
</script>
